In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup 
from collections import defaultdict
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.service import Service
import time
import SupportFunctions

ModuleNotFoundError: No module named 'SupportFunctions'

In [ ]:
def add_new_row_to_metadata(new_row_dict : dict) -> None:
    '''Add new companys' metadata to metadatacsv

    Should be of the form:
    >>> {'company_name' : 'LogicManager', 'company_url' : 'https://www.logicmanager.com/'
    , 'status' : 'Private', 'ticker' : '', 'scraper' : 'scraper_logicmanager'}
    
    :Params:
        new_row_dict (dict): New row to be added in form of a dict, keys are the col name.
    
    :Returns:
        N/A: Appends row to metadata
    '''
    df_info[df_info['company_name'] == 'LogicManager']
    new_row = {'company_name' : 'LogicManager', 'company_url' : 'https://www.logicmanager.com/', 'status' : 'Private', 'ticker' : '', 'scraper' : 'scraper_logicmanager'}
    df_to_append = pd.DataFrame([new_row])

    df_info_updated = pd.concat([df_info, df_to_append], ignore_index=True)
    df_info_updated.sort_values(by = 'company_name').reset_index(inplace=True, drop=True)
    df_info.to_csv(r'C:\Users\NimanthaFernando\Innovation_Team_Projects\Market_Intelligence\MI\database\company_metadata.csv')

In [2]:
import yfinance as yf

In [50]:
def get_company_details2(status, symbol):
    """
    Obtains yfinance data if company is public.
    
    Args:
    symbol (str) : Company symbol to obtain yfinance data. This could be blank if company doesn't have a symbol

    Returns:
    (json) : Company information
    """

    if status == "Private":
        company_details = {
                "Previous Close": "Private",
                "52 Week Range": "Private",
                "Sector": "Private",
                "Industry": "Private",
                "Full Time Employees": "Private",
                "Market Cap": "Private",
                "Fiscal Year Ends": "Private",
                "Revenue": "Private",
                "EBITDA": "Private",
        }
    elif status == "Public":
        try:
            stock = yf.Ticker(symbol)
            info = stock.info
            company_details = {
                "Previous Close": info.get("previousClose", np.nan),
                "52 Week Range": f'{info.get("fiftyTwoWeekLow", np.nan)} - {info.get("fiftyTwoWeekHigh", np.nan)}',
                "Sector": info.get("sector", np.nan),
                "Industry": info.get("industry", np.nan),
                "Full Time Employees": info.get("fullTimeEmployees", np.nan),
                "Market Cap": info.get("marketCap", np.nan),
                "Fiscal Year Ends": info.get("fiscalYearEnd", np.nan),
                "Revenue": info.get("totalRevenue", np.nan),
                "EBITDA": info.get("ebitda", np.nan),
            }
        except Exception as e:
            return f'Error, check {symbol} is a valid ticker: {e}'
    return company_details

In [1]:
import pandas as pd
import numpy as np
import importlib
import inspect

In [11]:
df = pd.read_csv(r'company_final.csv', index_col=0)

In [2]:
def extract_function_names(file_path):
    module_name = file_path.replace('.py', '')  # Get module name without '.py'
    spec = importlib.util.spec_from_file_location(module_name, file_path)
    module = importlib.util.module_from_spec(spec)
    spec.loader.exec_module(module)

    # Extract all functions from the module using inspect
    function_names = [name for name, obj in inspect.getmembers(module, inspect.isfunction)]

    return function_names

In [3]:
func_names = extract_function_names(r'C:\Users\NimanthaFernando\Innovation_Team_Projects\Market_Intelligence\MI\scrapers.py')
scrapers = []

In [5]:
for func in func_names:
    if 'scraper' in func:
        scrapers.append(func)

In [4]:
scrapers
df = pd.read_csv(r'C:\Users\NimanthaFernando\Innovation_Team_Projects\Market_Intelligence\MI\database\company_info.csv', index_col=0)

In [232]:
for scraper in scrapers:
    scraper_company = scraper.split('_')[1]

In [6]:
df['scraper'] = 'to complete'
for scraper in scrapers:
    scraper_company = scraper.split('_')[1]
    for idx, company_name in enumerate(df['company_name']):
        if scraper_company.lower() in company_name.replace(' ','').lower():
            df.loc[idx,'scraper'] = scraper

In [7]:
df['scraper'].iloc[0] = 'scraper_11fs'

C:\Users\NimanthaFernando\AppData\Local\Temp\ipykernel_24964\134318018.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['scraper'].iloc[0] = 'scraper_11fs'

In [8]:
url_exist_mask = df['company_url'] != 'to complete'
mask_scraper_not_exist = df[url_exist_mask]['scraper'] == 'to complete'
df[df['scraper']]

,company_name,company_url,status,ticker,scraper
34,Cognifide,https://www.vml.com,Private,NaN,to complete
49,Edge Testing Solutions,https://www.resillion.com/,Private,NaN,to complete
70,International Business Machines Corp,https://www.ibm.com/uk-en,Public,IBM,to complete
77,Laboratory Corp Of America Holdings,https://biopharma.labcorp.com/,Public,LAB.F,to complete
119,Switchfast Technologies,https://teamascend.com/,Private,NaN,to complete
122,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS.BO,to complete

In [31]:
df_new = pd.read_csv(r'company_info.csv', index_col=0)

In [32]:
mask = df_new['company_url'] == 'to complete'

In [33]:
df_new[mask]

,company_name,company_url,status,ticker,scraper
4,Afiniti,to complete,Private,NaN,to complete
52,Equal Experts,to complete,Private,NaN,scraper_equalexperts
54,Faculty AI,to complete,Private,NaN,to complete
56,Frog Design,to complete,Private,NaN,to complete
58,GeekTek,to complete,Private,NaN,to complete
62,HP Inc,to complete,Public,HPQ,to complete
64,IDEO,to complete,Private,NaN,to complete
68,Infostretch Corp,to complete,Private,NaN,to complete
81,Lunar,to complete,Private,NaN,to complete
85,McKinsey,to complete,Private,NaN,to complete
93,OC&C Strategy Consultants,to complete,Private,NaN,to complete
99,PRA Health Sciences Inc,to complete,Private,NaN,to complete
100,Parexel International Corp,to complete,Private,NaN,to complete
112,SkillStorm,to complete,Private,NaN,to complete
116,Spring Studios,to complete,Private,NaN,to complete
117,Strategy & London,to complete,Private,NaN,to complete
130,Ultimus Fund Solutions,to complete,Private,NaN,to complete

In [22]:
df_new.groupby(by='scraper').count().sort_values(by= 'scraper', ascending=False)

,,company_name,company_url,status,ticker
scraper,,,,,
to complete,19,19,19,19,19
scraper_zs,1,1,1,1,1
scraper_zoonou,1,1,1,1,1
scraper_wipro,1,1,1,1,1
scraper_wavestone,1,1,1,1,1
...,...,...,...,...,...
scraper_airwalkreply,1,1,1,1,1
scraper_adatis,1,1,1,1,1
scraper_accenture,1,1,1,1,1
scraper_a1qa,1,1,1,1,1
scraper_11fs,1,1,1,1,1

In [264]:
df.to_csv('company_info.csv')

In [46]:
df_public = df[df['ticker'].notna()]

In [58]:
df_public

get_company_details2('Public','4902.T')

{'Previous Close': 443.3,
 '52 Week Range': '397.6 - 562.0',
 'Sector': 'Industrials',
 'Industry': 'Business Equipment & Supplies',
 'Full Time Employees': 40015,
 'Market Cap': 221133258752,
 'Fiscal Year Ends': nan,
 'Revenue': 1159998996480,
 'EBITDA': 101432999936}

In [34]:
symbol = 'AAPL'

yf.Ticker('AAPL')
stock = yf.Ticker(symbol)
info = stock.info
info.get("marketCap")

3286634332160

In [5]:
test2

'element_1'

In [9]:
cols = ['company_name', 'ticker']
company_dict = {cols[0] : [], cols[1] : []}

for company_name, ticker in full_company_list.items():
    company_dict['company_name'].append(company_name)
    company_dict['ticker'].append(ticker)

In [10]:
df_companies = pd.DataFrame(company_dict)
companies_list = list(full_company_list.keys())
df_companies

                 company_name   ticker
0                Capgemini SE   CAP.PA
1                 AND Digital
2                     Dufrain
3    FDM Group (Holdings) Ltd    FDM.L
4                      Slalom
..                        ...      ...
129      Verisk Analytics Inc     VRSK
130                 Wavestone  WAVE.PA
131                Xerox Corp
132                    Zoonou
133                        ZS

[134 rows x 2 columns]

In [1]:
import importlib
import inspect

# Import the module
module_name = 'scrapers'  # Replace with your module name
module = importlib.import_module(module_name)

# Get all functions in the module
functions = inspect.getmembers(module, inspect.isfunction)

In [71]:
import pandas as pd
import numpy as np

In [34]:


full_company_list = {
    'Capgemini SE' : 'CAP.PA',
    'AND Digital' : '',
    'Dufrain' : '',
    'FDM Group (Holdings) Ltd' : 'FDM.L',
    'Slalom' : '',
    'Tata Consultancy Services Limited' : 'TCS.BO',
    'Wipro Limited' : 'WIT',
    'Fjord Consulting Group' : '',
    'Mesh AI' : '',
    'Sparta Global' : '',
    'Ten10' : '',
    'Credera' : '',
    'Infinite Lambda' : '',
    'BetterGov' : '',
    'Cambridge Consultants Limited' : '',
    'Capco Limited' : '',
    'Cognizant Technology Solutions Corporation' : 'CTSH',
    'Infosys Limited' : 'INFY',
    'IQVIA Holdings Inc' : 'IQV',
    'Kubrick Group Limited' : '',
    '11:FS' : '',
    'a1qa' : '',
    'Accenture PLC' : 'ACN',
    'Adatis' : '',
    'Afiniti' : '',
    'Airwalk Reply' : '',
    'Alchemmy' : '',
    'Alix Partners' : '',
    'Apexon' : '',
    'Arthur D Little' : '',
    'Atos Group' : '', # Unsure on what the ticker is? Mentioned it is public in excel by Simon
    'Atos SE' : 'ATO.PA',
    'Avanade Inc.' : '',
    'Bain & Company' : '',
    'Baringa' : '',
    'Billigence' : '',
    'BJSS' : '',
    'Blueberry Consultants Ltd.' : '',
    'Booz Allen Hamilton Holding Corp' : 'BAH',
    'Boston Consulting Group' : '',
    'Broadstones Tech' : '',
    'Cambridge Design Partnership' : '',
    'Canon Inc.' : '7751.T',
    'Capita' : 'CPI.L',
    'Centric Consulting' : '',
    'CGI' : '',
    'CIGNITI Technologies Ltd' : 'CIGNITITEC.BO',
    'Clarasys' : '',
    'Cognifide' : '',
    'Contino Ltd.' : '',
    'Credo Consulting' : '',
    'Deloitte' : '',
    'Designit' : '',
    'Digital Workplace Group' : '',
    'DXC Technology' : 'DXC',
    'Eclature Technologies' : '',
    'Eden McCallum' : '',
    'Edge Testing Solutions' : '',
    'Elixirr International Plc' : 'ELIX.L',
    'EPAM Systems Inc' : 'EPAM',
    'Equal Experts' : '',
    'EY' : '',
    'Faculty AI' : '',
    'Frog Design' : '',
    'Frontier Economics' : '',
    'GeekTek' : '',
    'Genpact Ltd' : 'G',
    'HCL Technologies Ltd' : 'HCLTECH.BO',
    'Hexaware Technologies Ltd' : '',
    'HP Inc' : 'HPQ',
    'Icon PLC' : 'ICLR',
    'IDEO' : '',
    'Infostretch Corp' : '',
    'International Business Machines Corp' : 'IBM',
    'JMAN Group' : '',
    'Kainos' : 'KNOS.L',
    'Kearney' : '',
    'KONICA MINOLTA INC' : 'KNCAF',
    'KPMG' : '',
    'Laboratory Corp Of America Holdings' : 'LAB.F',
    'LockPath, Inc.' : '',
    'LogicManager' : '',
    'LogicSource, Inc.' : '',
    'Lovelytics' : '',
    'Lunar' : '',
    'Made Tech Group Plc ' : 'MTEC.L',
    'Mason Advisory' : '',
    'McKinsey' : '',
    'METRICSTREAM INC' : '',
    'MindTree Ltd' : '',
    'Mosaic Island' : '',
    'Mphasis Ltd' : 'MPHASIS.BO',
    'mthree' : '',
    'Neoris' : '',
    'NexInfo' : '',
    'North Highland' : '',
    'OC&C Strategy Consultants' : '',
    'Oliver Wyman' : '',
    'OpenCredo' : '',
    'Oracle Consulting' : '',
    'PA Consulting Group' : '',
    'Parexel International Corp' : '',
    'Peru Consulting' : '',
    'Planit Testing' : '',
    'PPD Inc' : '',
    'PRA Health Sciences Inc' : '',
    'Project One' : '',
    'Projective' : '',
    'Prolifics' : '',
    'PwC' : '',
    'RICOH CO LTD' : 'RICO.L',
    'Roland Berger' : '',
    'SEIKO EPSON CORP' : 'SEKEY',
    'Simon Kutcher & Partners' : '',
    'SkillStorm' : '',
    'Softwire' : '',
    'Spring Studios' : '',
    'Strategy & London' : '',
    'Sutherland' : '',
    'Switchfast Technologies' : '',
    'Syneos Health Inc' : '',
    'TAG Solutions' : '',
    'Tech Mahindra Ltd' : 'TECHM.BO',
    'Terillium' : '',
    'Testhouse Ltd' : '',
    'The Berkeley Partnership' : '',
    'The PSC' : '',
    'Thoughtworks' : '7W8.F',
    'Ultimus Fund Solutions' : '',
    'Verisk Analytics Inc' : 'VRSK',
    'Wavestone' : 'WAVE.PA',
    'Xerox Corp' : '',
    'Zoonou' : '',
    'ZS' : '',
    'Digital Futures' : '',
    'Rockborne Limited' : '',
    'Grayce Group Limited' : ''

}

In [36]:
import pandas as pd

In [143]:
companies = list(full_company_list.keys())
tickers = full_company_list.values()
df_full = pd.DataFrame({'company_name' : companies})

df_info = pd.read_csv(r'database/company_metadata.csv', index_col=0)

In [145]:
for company in df_info['company_name']:
    print(company)

11:FS
AND Digital
Accenture PLC
Adatis
Afiniti
Airwalk Reply
Alchemmy
Alix Partners
Apexon
Arthur D Little
Atos Group
Atos SE
Avanade Inc.
BJSS
BMC
Bain & Company
Baringa
BetterGov
Billigence
Blueberry Consultants Ltd.
Booz Allen Hamilton Holding Corp
Boston Consulting Group
Box UK
Broadstones Tech
CGI
CIGNITI Technologies Ltd
Cambridge Consultants Limited
Cambridge Design Partnership
Canon Inc.
Capco Limited
Capgemini SE
Capita
Centric Consulting
Clarasys
Cognifide
Cognizant Technology Solutions Corporation
Contino Ltd.
Credera
Credo Consulting
DXC Technology
Deloitte
Designit
Digital Futures
Digital Workplace Group
Dufrain
EPAM Systems Inc
EY
Eclature Technologies
Eden McCallum
Edge Testing Solutions
Elixirr International Plc
Enfuse Group
Equal Experts
FDM Group (Holdings) Ltd
Faculty AI
Fjord Consulting Group
Frog Design
Frontier Economics
GeekTek
Genpact Ltd
Grayce Group Limited
HCL Technologies Ltd
HP Inc
Hexaware Technologies Ltd
IDEO
IQVIA Holdings Inc
Icon PLC
Infinite Lambda
Infostretch Corp
Infosys Limited
International Business Machines Corp
JMAN Group
KONICA MINOLTA INC
KPMG
Kainos
Kearney
Kubrick Group Limited
Laboratory Corp Of America Holdings
LockPath, Inc.
LogicSource, Inc.
Lovelytics
Lunar
METRICSTREAM INC
Made Tech Group Plc
Mason Advisory
McKinsey
Mesh AI
MindTree Ltd
Mosaic Island
Mphasis Ltd
Neoris
NexInfo
North Highland
OC&C Strategy Consultants
Oliver Wyman
OpenCredo
Oracle Consulting
PA Consulting Group
PPD Inc
PRA Health Sciences Inc
Parexel International Corp
Peru Consulting
Planit Testing
Project One
Projective
Prolifics
PwC
RICOH CO LTD
Rockborne Limited
Roland Berger
SEIKO EPSON CORP
Simon Kutcher & Partners
SkillStorm
Slalom
Softwire
Sparta Global
Spring Studios
Strategy & London
Sutherland
Switchfast Technologies
Syneos Health Inc
TAG Solutions
Tata Consultancy Services Limited
Tech Mahindra Ltd
Ten10
Terillium
Testhouse Ltd
The Berkeley Partnership
The PSC
Thoughtworks
Ultimus Fund Solutions
Verisk Analytics Inc
Wavestone
Wipro Limited
Xerox Corp
ZS
Zoonou
a1qa
mthree

In [140]:
df_info[df_info['scraper'] == 'to complete'].loc[[4,56,62,68,81,99,112]]

,company_name,company_url,status,ticker,scraper
,,,,,
4,Afiniti,to complete,Private,,to complete
56,Frog Design,to complete,Private,,to complete
62,HP Inc,to complete,Public,HPQ,to complete
68,Infostretch Corp,to complete,Private,,to complete
81,Lunar,to complete,Private,,to complete
99,PRA Health Sciences Inc,to complete,Private,,to complete
112,SkillStorm,to complete,Private,,to complete

In [127]:
df_full_company_list = df_info[['company_name','ticker']].fillna('')
full_company_list = dict(zip(df_full_company_list['company_name'], df_full_company_list['ticker']))

{'11:FS': '',
 'AND Digital': '',
 'Accenture PLC': 'ACN',
 'Adatis': '',
 'Afiniti': '',
 'Airwalk Reply': '',
 'Alchemmy': '',
 'Alix Partners': '',
 'Apexon': '',
 'Arthur D Little': '',
 'Atos Group': '',
 'Atos SE': 'ATO.PA',
 'Avanade Inc.': '',
 'BJSS': '',
 'BMC': '',
 'Bain & Company': '',
 'Baringa': '',
 'BetterGov': '',
 'Billigence': '',
 'Blueberry Consultants Ltd.': '',
 'Booz Allen Hamilton Holding Corp': 'BAH',
 'Boston Consulting Group': '',
 'Box UK': '',
 'Broadstones Tech': '',
 'CGI': '',
 'CIGNITI Technologies Ltd': 'CIGNITITEC.BO',
 'Cambridge Consultants Limited': '',
 'Cambridge Design Partnership': '',
 'Canon Inc.': '7751.T',
 'Capco Limited': '',
 'Capgemini SE': 'CAP.PA',
 'Capita': 'CPI.L',
 'Centric Consulting': '',
 'Clarasys': '',
 'Cognifide': '',
 'Cognizant Technology Solutions Corporation': 'CTSH',
 'Contino Ltd.': '',
 'Credera': '',
 'Credo Consulting': '',
 'DXC Technology': 'DXC',
 'Deloitte': '',
 'Designit': '',
 'Digital Futures': '',
 'Digital Workplace Group': '',
 'Dufrain': '',
 'EPAM Systems Inc': 'EPAM',
 'EY': '',
 'Eclature Technologies': '',
 'Eden McCallum': '',
 'Edge Testing Solutions': '',
 'Elixirr International Plc': 'ELIX.L',
 'Enfuse Group': '',
 'Equal Experts': '',
 'FDM Group (Holdings) Ltd': 'FDM.L',
 'Faculty AI': '',
 'Fjord Consulting Group': '',
 'Frog Design': '',
 'Frontier Economics': '',
 'GeekTek': '',
 'Genpact Ltd': 'G',
 'Grayce Group Limited': '',
 'HCL Technologies Ltd': 'HCLTECH.BO',
 'HP Inc': 'HPQ',
 'Hexaware Technologies Ltd': '',
 'IDEO': '',
 'IQVIA Holdings Inc': 'IQV',
 'Icon PLC': 'ICLR',
 'Infinite Lambda': '',
 'Infostretch Corp': '',
 'Infosys Limited': 'INFY',
 'International Business Machines Corp': 'IBM',
 'JMAN Group': '',
 'KONICA MINOLTA INC': '4902.T',
 'KPMG': '',
 'Kainos': 'KNOS.L',
 'Kearney': '',
 'Kubrick Group Limited': '',
 'Laboratory Corp Of America Holdings': 'LAB.F',
 'LockPath, Inc.': '',
 'LogicSource, Inc.': '',
 'Lovelytics': '',
 'Lunar': '',
 'METRICSTREAM INC': '',
 'Made Tech Group Plc': 'MTEC.L',
 'Mason Advisory': '',
 'McKinsey': '',
 'Mesh AI': '',
 'MindTree Ltd': '',
 'Mosaic Island': '',
 'Mphasis Ltd': 'MPHASIS.BO',
 'Neoris': '',
 'NexInfo': '',
 'North Highland': '',
 'OC&C Strategy Consultants': '',
 'Oliver Wyman': '',
 'OpenCredo': '',
 'Oracle Consulting': '',
 'PA Consulting Group': '',
 'PPD Inc': '',
 'PRA Health Sciences Inc': '',
 'Parexel International Corp': '',
 'Peru Consulting': '',
 'Planit Testing': '',
 'Project One': '',
 'Projective': '',
 'Prolifics': '',
 'PwC': '',
 'RICOH CO LTD': 'RICO.L',
 'Rockborne Limited': '',
 'Roland Berger': '',
 'SEIKO EPSON CORP': '6724.T',
 'Simon Kutcher & Partners': '',
 'SkillStorm': '',
 'Slalom': '',
 'Softwire': '',
 'Sparta Global': '',
 'Spring Studios': '',
 'Strategy & London': '',
 'Sutherland': '',
 'Switchfast Technologies': '',
 'Syneos Health Inc': '',
 'TAG Solutions': '',
 'Tata Consultancy Services Limited': 'TCS.BO',
 'Tech Mahindra Ltd': 'TECHM.BO',
 'Ten10': '',
 'Terillium': '',
 'Testhouse Ltd': '',
 'The Berkeley Partnership': '',
 'The PSC': '',
 'Thoughtworks': '',
 'Ultimus Fund Solutions': '',
 'Verisk Analytics Inc': 'VRSK',
 'Wavestone': '',
 'Wipro Limited': 'WIT',
 'Xerox Corp': '',
 'ZS': '',
 'Zoonou': '',
 'a1qa': '',
 'mthree': ''}

In [68]:
df_info = df_info[['company_name']].sort_values(by='company_name').reset_index( drop=True)
df_full = df_full.sort_values(by='company_name').reset_index( drop=True)

In [99]:
df_info[['company_name']]
# df_full['company_name']  df_info['company_name']

merged_df = pd.merge(df_info,df_full, on='company_name', how = 'outer', indicator = True)

merge_mask = merged_df['_merge'] != 'both'
merged_df[merge_mask].loc[85].values[0]
merged_df[merge_mask].loc[86].values[0] 
merged_df[merge_mask]

                  company_name      _merge
14                         BMC   left_only
19   Blueberry Consultants Ltd   left_only
20  Blueberry Consultants Ltd.  right_only
23                      Box UK   left_only
52                Enfuse Group   left_only
80                LogicManager  right_only
85         Made Tech Group Plc   left_only
86        Made Tech Group Plc   right_only

In [141]:
# pd.set_option('display.max_rows', None)
# df_full= pd.DataFrame({'company_name' : companies, 'ticker' : tickers})
# df_full[df_full['company_name'] == 'LogicManager']
# df_info = pd.read_csv(r'database/company_info.csv', index_col=0)
# df_info