In [1]:
import pandas as pd
import SupportFunctions
company_dict = {'company_name':['Capgemini SE', 'AND Digital', 'Dufrain', 'FDM Group (Holdings) Ltd', 'Slalom', 'Tata Consultancy Services Limited', 'Wipro Limited', 'Infosys Limited', 'Credera', 'Infinite Lambda', 'Mesh AI', 'Sparta Global', 'Ten10', 'Fjord Consulting Group', 'BetterGov', 'Cambridge Consultants Limited', 'Capco Limited', 'Cognizant Technology Solutions Corporation', 'IQVIA Holdings Inc', 'Kubrick Group Limited'],
        'company_url':['https://www.capgemini.com/','https://www.and.digital/','https://www.dufrain.co.uk/','https://www.fdmgroup.com/','https://www.slalom.com/','https://www.tcs.com','https://www.wipro.com/', 'https://www.infosys.com/', 'https://www.credera.com/en-gb', 'https://infinitelambda.com', 'https://www.mesh-ai.com/', 'https://www.spartaglobal.com', 'https://ten10.com', 'https://fjordconsultinggroup.com', 'https://www.bettergov.co.uk/', 'https://www.cambridgeconsultants.com/', 'https://www.capco.com', 'https://www.cognizant.com', 'https://jobs.iqvia.com/en', 'https://www.kubrickgroup.com'],
        'status':['Public','Private','Private','Public','Private','Public','Public', 'Public', 'Private', 'Private', 'Private', 'Private', 'Private', 'Private', 'Private', 'Private', 'Private', 'Public', 'Public', 'Private'],
        'ticker':['CAP.PA', '', '', 'FDM.L', '','TCS.BO','WIT', 'INFY', '', '', '', '', '', '', '', '', '', 'CTSH', 'IQV', ''],
        'scraper':['scraper_capgemini','scraper_digital','scraper_dufrain','scraper_fdmgroup','scraper_slalom','scraper_tcs','scraper_wipro', 'scraper_infosys', 'scraper_credera', 'scraper_infinitelambda', 'scraper_meshai', 'scraper_spartaglobal', 'scraper_ten10', 'scraper_fjord', 'scraper_bettergov', 'scraper_cambridge', 'scraper_capco', 'scraper_cognizant', 'scraper_iqvia', 'scraper_kubrick']}

company_df = pd.DataFrame(company_dict)
file_path = r'C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\Kubrick MI Data.xlsx'
excel_file_path = r'C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\Kubrick MI Diff.xlsx'
template_file_path = r'C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\Template.xlsx'

In [4]:
for company_name in company_dict['company_name']:
    print(company_name)
    company_url, scraper, status, ticker = SupportFunctions.get_company_metadata(company_name, company_df)

    scraped_data = SupportFunctions.get_scraped_company_data(scraper)
    yahoo_json = SupportFunctions.get_company_details2(status, ticker)
    final_df = SupportFunctions.create_final_df2(company_name, company_url, status, yahoo_json, scraped_data, template_file_path)

    old_df = SupportFunctions.read_from_excel(file_path, company_name, template_file_path)

    SupportFunctions.log_new_and_modified_rows2(final_df, old_df, company_name, excel_file_path)
    SupportFunctions.write_to_excel(final_df, file_path, company_name)

    price_report_data=SupportFunctions.get_company_info_pricereport(company_name, ticker, file_path)
    SupportFunctions.update_excel(price_report_data, file_path)

Capgemini SE

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

AND Digital

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Dufrain

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

FDM Group (Holdings) Ltd

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Slalom

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Tata Consultancy Services Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Wipro Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Infosys Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Credera

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Infinite Lambda

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Mesh AI

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Sparta Global

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Ten10

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Fjord Consulting Group

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

BetterGov

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Cambridge Consultants Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Capco Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Cognizant Technology Solutions Corporation

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

IQVIA Holdings Inc

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Kubrick Group Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [78]:
df1 = final_df.copy()
df2 = old_df.copy()

cols = list(df1.columns)
for column in cols:
    df1[column] = df1[column].astype(str)

df1['Status'] = 'Added'

for column in cols:
    df2[column] = df2[column].astype(str)

df2['Status'] = 'Removed'

new_df = pd.concat([df1, df2]).reset_index(drop=True)
new_df.set_index('Status', inplace=True)
new_df['Date of Collection'] = pd.to_datetime(new_df['Date of Collection'])
#df = pd.DataFrame(new_df.groupby(cols).value_counts())

new_df.drop_duplicates(subset=cols, keep=False,inplace=True)
new_df.reset_index(inplace=True)
new_df

Empty DataFrame
Columns: [Status, Date of Collection, Company Name, Website_URL, Public/Private, Practices, Practices_URL, Services, Services_URL, Solutions, Solutions_URL, Previous Close, 52 Week Range, Sector, Industry, Full Time Employees, Market Cap, Fiscal Year Ends, Revenue, EBITDA, Company NPS, Company Glassdoor, MI Summary, Competitive Threat Level, Market Share, Pricing Strategy, Target Market_1, Target Market_2, Channels-to-Market_1 (Social Media), Channels-to-Market_2 (Sales), Channels-to-Market_3 (Promotions/Sponsorship), Market Differentiation (USP), Revenue Trends, Profitability, Growth Rate, Revenue per Employee, Customer Satisfaction, Reviews & Ratings, Customer Complaints, Innovation, Tech Advancements, Patents & Intellectual Property, Emerging Trends, Potential Threats, Long-term Strategy, Recent Activities, Market Responsiveness, Key Executives, Company Culture, Compliance Requirements, Legal Issues/Pending Litigations, Environmental Impact, Social Initiatives]
Index: []

[0 rows x 53 columns]

In [1]:
from collections import defaultdict
import requests
from bs4 import BeautifulSoup

def clean_url(url, home_url):
    if home_url in url:
        return url
    else:
        return home_url + url
    
def scraper_slalom():
    company_dict = defaultdict(list)
    home_url = 'https://www.slalom.com'
    url = 'https://www.slalom.com/gb/en/services'
    r = requests.get(url)

    soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib 

    table_practises = soup.find('div', attrs = {'id':'services-overview-deaa04af28'})
    practises = [row.span.text for row in table_practises.findAll('a', attrs = {'class':'cmp-image__link'})]
    links = [clean_url(row.get('href'), home_url) for row in table_practises.findAll('a', attrs = {'class':'cmp-image__link'})]

    for i in range(len(practises)):
        url = links[i]
        r = requests.get(url)
        print(url)
        soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib 
        table_expertise = soup.find('div', attrs = {'id':'expertise'})
        expertise = [row.text for row in table_expertise.findAll('h4')]
        solution = [row.text for row in table_expertise.findAll('p')]
        for j in range(len(expertise)):
            company_dict['Practices'].append(practises[i])
            company_dict['Practices_URL'].append(url)
            company_dict['Services'].append(expertise[j])
            company_dict['Services_URL'].append(url)
            company_dict['Solutions'].append(solution[j])
            company_dict['Solutions_URL'].append(url)

    return pd.DataFrame(company_dict)

In [26]:
import requests
from bs4 import BeautifulSoup
company_names = ['Capgemini SE', 'FDM Group (Holdings) Ltd', 'Slalom', 'Tata Consultancy Services Limited', 'Wipro Limited']
company_urls = ['https://www.capgemini.com/','https://www.fdmgroup.com/','https://www.slalom.com/','https://www.tcs.com','https://www.wipro.com/']
glassdoor_reviews = ['3.8 on Glassdoor (66493 total reviews)','3.2 on Glassdoor (3350 total reviews)','3.9 on Glassdoor (2881 total reviews)','3.7 on Glassdoor (136742 total reviews)','3.7 on Glassdoor (57510 total reviews)']
consultancy_rates = ['£312 a unit a day','£290 to £600 a unit a day','£636 to £1,938 a unit a day','£127 a unit a day','£120 to £1,300 a unit a day']
my_dict = {}
for url in ['https://www.partnerbase.com/capgemini-consulting','https://www.partnerbase.com/fdm-group','https://www.partnerbase.com/slalom','https://www.partnerbase.com/wipro-limited','https://www.partnerbase.com/tata-consultancy-services-ltd']:
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib 
    table_partners = soup.findAll('td', attrs = {'class':'c-partnerships-table__company-cell'})
    my_dict[url] = [partner.text.replace('  View Company ', '') for partner in table_partners]

for key in my_dict.keys():
    print(key)
    print(my_dict[key])

https://www.partnerbase.com/capgemini-consulting
['MySQL', 'Hewlett Packard Enterprise', 'Salesforce', 'Amazon Web Services', 'Oracle', 'Google', 'Adobe', 'Microsoft', 'Red Hat', 'VMware', 'Dell', 'Stripe', 'IBM', 'Esri', 'Fortinet', 'Magento', 'SAP', 'SAS', 'Intel', 'Tenable', 'Nutanix', 'ServiceNow', 'Cisco', 'Snowflake', 'Qlik']
https://www.partnerbase.com/fdm-group
['Murex']
https://www.partnerbase.com/slalom
['Salesforce', 'Amazon Web Services', 'Google', 'Adobe', 'Microsoft', 'Facebook', 'Stripe', 'SAS', 'Snowflake', 'Qlik', 'Acquia', 'AgilOne', 'Netsuite', 'Tableau Software', 'Workday', 'Optimizely', 'Looker', 'MuleSoft', 'Docusign', 'Drupal', 'Sitecore', 'Tealium', 'Veeva Systems', 'Box', 'Alteryx']
https://www.partnerbase.com/wipro-limited
['MySQL', 'Hewlett Packard Enterprise', 'Salesforce', 'Amazon Web Services', 'Oracle', 'Google', 'HubSpot', 'Adobe', 'Microsoft', 'Red Hat', 'VMware', 'Dell', 'IBM', 'Esri', 'Fortinet', 'Magento', 'SAP', 'Symantec CloudSOC', 'SAS', 'Intel', 'Tenable', 'Nutanix', 'ServiceNow', 'Cisco', 'Snowflake']
https://www.partnerbase.com/tata-consultancy-services-ltd
['MySQL', 'Hewlett Packard Enterprise', 'Salesforce', 'Amazon Web Services', 'Oracle', 'Google', 'Adobe', 'Microsoft', 'Red Hat', 'VMware', 'Dell', 'IBM', 'Fortinet', 'Magento', 'SAP', 'Symantec CloudSOC', 'SAS', 'Zendesk', 'Nutanix', 'ServiceNow', 'Cisco', 'Snowflake', 'Siemens PLM', 'Qlik', 'Quest Software']

In [73]:

def company_intel_table(df, company_name, url, file_path="kubrick_mi_company_intel"):
    import os
    from datetime import datetime
    from collections import defaultdict
    import numpy as np
    if not os.path.exists(f'{file_path}.xlsx'):
        empty_df = pd.DataFrame(columns=['Date Collected', 'Company Name', 'URL', 'Practice Ecosystems (Data, AI etc)', 
                                         'Practice List (delimited)', 'Training Program Duration', 'Tech Partnerships',
                                         'Anecdotal Views of Quality', 'Consultant Pricing'])  # Assuming these are your column names
        empty_df.to_excel(f'{file_path}.xlsx', engine='openpyxl', index=False)

    #try:
    data = pd.read_csv(f'{file_path}.csv', encoding='utf-8')
    #except UnicodeDecodeError:
    #    data = pd.read_csv(file_path, encoding='ISO-8859-1')

    data_as_dict = defaultdict(list)

    company_names_column = data.iloc[:, 1]
    company_exists = company_name in company_names_column.values
    #print(1)
    data_as_dict["Date Collected"].append(datetime.now().strftime("%Y-%m-%d"))
    data_as_dict["Company Name"].append(company_name)
    data_as_dict["URL"].append(url)

    col_list = ['Practices', 'Services', 'Solutions']
    col_list2 = ['Practices', 'Services', 'Solutions']
    ecosystems_string = ''
    practices_string = ''
    #print(2)
    for column in col_list:
        col_list2.pop(0)
        set1 = set({data for data in df[column] if data != f'No {column} Data Available'})
        if set1 != set():
            ecosystems_list = list(set1)
            ecosystems_string = ', '.join(ecosystems_list)
            break
    #print(3)
    for column in col_list2:
        set2 = set({data for data in df[column] if data != f'No {column} Data Available'})
        #print(set2)
        if set2 != set():
            practices_list = list(set2)
            practices_string = ', '.join(practices_list)
            break
    #print(4)
    data_as_dict["Practice Ecosystems (Data, AI etc)"].append(ecosystems_string)
    data_as_dict["Practice List (delimited)"].append(practices_string)

    training_duration_index = data.columns.get_loc("Training Program Duration")
    #print(5)
    if company_exists:

        company_index = company_names_column[company_names_column == company_name].index[0]

        for col in data.columns[training_duration_index:]:
            data_as_dict[col].append(data.at[company_index, col])
        
        for key, value in data_as_dict.items():
            #print(key)
            #print(value)
            data.at[company_index, key] = value[0]
        
    else:
        for col in data.columns[training_duration_index:]:
            if col not in data_as_dict:
                data_as_dict[col].append("To be completed manually")
        
        new_data = pd.DataFrame(data_as_dict)
        data = pd.concat([data, new_data], ignore_index=True)
    
    for column in data.columns[3:]:
        data[column] = [f'No {column} Available' if item in ('', ' ', None, 'nan', np.nan) else item for item in data[column]]
    data.dropna(inplace=True)
    data.reset_index(drop=True, inplace=True)
    SupportFunctions.write_to_excel(data, f'{file_path}.xlsx', company_name)
    
    return

In [36]:
company_intel_table(final_df, company_name, company_url)

In [74]:
for company_name in company_dict['company_name']:
    print(company_name)
    company_url, scraper, status, ticker = SupportFunctions.get_company_metadata(company_name, company_df)

    final_df = pd.read_excel(file_path, sheet_name=company_name)
    company_intel_table(final_df, company_name, company_url)

Capgemini SE
AND Digital

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.capgemini.com/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cloud, Customer first, Intelligent Industry, Enterprise management, Data and artificial intelligence, Cybersecurity, Sustainability' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ESG management and reporting, Sustainable technology, Sustainable operations, Commit, Cloud for intelligent industry, Digital core, Intelligent operations, Accelerate your industry, Protect, Cloud for customer first, Capgemini is platinum sponsor of the railway industry association’s innovation conference 2023, Enterprise Sustainability Proposition, Customer experience, Enterprise transformation, Continuous business reinvention, Intelligent business operations, Transform your organisation, Application development and management, Define, Sap Customer Experience (cx), Get the data-powered advantage, Cloud for enterprise management, People experience, Intelligent products and services, Generative AI, Defend, Sustainable products, Enterprise service management, Sustainability strategy and governance' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.and.digital/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Mobile App Development, Experience Design, Product Strategy, Consulting, Software Engineering, Cloud, Data, AI & Tools, Equip, Public Sector' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Content design, Product-oriented ways of working, Quality assurance, Engineering data platforms for growth, Enablement, AI governance & security, Mobile app prototyping & design, Data-driven strategy & transformation, Websites & web apps, Performance engineering, Propositions, LLM & NLP training, Efficiency, API & middleware development, Prototyping & design, User experience prototyping, AI prototyping & proofs of concept, E-commerce, Cloud automation, Platform engineering, Mobile app interface design & build, Cloud migration, Machine learning, Service design, Cloud security, Business case development, User story creation, AI use case development, Data, Mobile app development (native & hybrid), Coding assistance, User interface design & build, Cloud strategy, Solution architecture, Customer & user testing, Delivery, Solution architecture & microservices, Agile data product development, Data insights that drive action, User research' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Dufrain
FDM Group (Holdings) Ltd

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.dufrain.co.uk/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Data Strategy & Architecture, Business Intelligence & Data Analytics Service, Data Management, Data Engineering, Migration & Cloud Adoption' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Data Strategy, SaS Training, Data Capability Assessment, BI Analytics, Cloud Data Engineering Services, Data Migration Services, Data Pipelines, Data Driven Culture, Data Architecture Consulting Services, Architecture, Data Strategy Consulting Solutions, Data Quality Management Solutions, BI Reporting Tool Implementation, Regulatory Projects, Data Dashboards & Visualisations, Big Data Storage Solutions, Automated Reporting in Azure, Analytics Maturity Assessment, Data Engineering, Data Governance Solutions, Inference and Advanced Analytics in AWS, Data Warehousing Solutions' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.fdmgroup.com/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Risk, Regulation & Compliance, IT Operations, Change & Transformation, Software Engineering, Data & Analytics' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Business Intelligence, AWS, Data Governance, Portfolio, Programme & Project Management, Data Science, Technical Operations & Security Operations  , Regulatory Change Management, PMO, Development, Change Management, Agile Delivery, Quality Control & Assurance , SRE, Cloud Engineering, Software testing, Data Engineering, Risk Domain SME, DevOps, Business Analysis, Management, Operational Domain Holistic Analysis, Anti-Financial Crime, Product Management' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Slalom
Tata Consultancy Services Limited

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.slalom.com/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Strategy, Operations, Planning & delivery, Organizational change & talent, Experience strategy & design, Systems implementation, Cloud, Digital product building, Privacy & security, Data, Artificial Intelligence, Sustainability' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Risk & governance , Brand strategy, Agile delivery & coaching , Business applications, Data strategy, Strategy & impact tracking , Intelligent products , Technology strategy , Lean portfolio management , Literacy & analytics, Migration & modernization, ESG digital transformation , Customer & employee experience , Value chain decarbonization, Customer applications, Advertising & marketing transformation , Business strategy, Business transformation, Product strategy, design & innovation , Product engineering ,  Change management, Engineering & architecture, Infrastructure, Security, Generative AI , Service design, Contact center transformation, Machine learning , Optimization, Platform engineering , Mergers & acquisitions,  Customer strategy, Supply chain, manufacturing & procurement, Operating model design, Integration, Data privacy, Product management , Project & program management, Culture transformation, Data engineering & machine learning , Process improvement, Governance, risk & compliance, Innovation & emerging technology strategy , Management & governance, Talent development & learning' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.tcs.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'TCS Interactive, IoT Digital Engineering, Consulting, Cybersecurity, Data & Analytics, Cloud, Enterprise Solutions, Sustainability Services, Cognitive Business Operations, Artificial Intelligence,  Network Solutions and Service' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Supply chain: Building agile and resilient businesses, 5G enterprise services, Telco cloud and orchestration services, Workspace: Creating intuitive and intelligent workspaces, Human resources: Redefining employee experiences, TCS Business Analytics Solutions, Digital thread, TCS Crystallus™ on SAP, Connected services, Digital experience , Next-gen enterprise transformation, TCS DigiFleet™, CIO advisory services, Connected plants, Cybersecurity advisory and consulting, Privacy and data protection, Networks: Building responsive networks to drive agility, AI-enabled measurement, TCS ConvertCore , Applications: Decoding operations to accelerate speed to market, Intelligent products, TCS Envirozone™, Data center: Building automated, secure, and green solutions, Experience-first commerce , Supply chain as a service, Unlock potential with responsible AI, Mergers and acquisitions, TCS Dexam™, Harness LLMs with GenAI agents for effective enterprise use , TCS Enterprise Navigator™, Network planning and engineering, Governance, risk and compliance   , Digital workplace security , Digital identity management, TCS Intelligent Power Plant, TCS Intelligent Urban Exchange™, Manufacturing powered by GenAI , Cyber-physical security, TCS Daezmo™, Next-gen OSS services, Marketing: Reimagining experiences to enhance engagement, Cognitive network operations, Tap into GenAI for banking, financial services and insurance, Incident response and rapid recovery, Customer experience: Crafting experiences to delight customers, Industrialized SD-WAN, TCS Datom™ , Iconic designs  , Enterprise Cloud, TCS Clever Energy™, Sustainable by Design, TCS Crystallus™ on Oracle Cloud, Enterprise security-as-a-service , TCS and AWS Cloud, TCS and Google Cloud, Finance: Powering strategic financial leadership, Risk and cybersecurity strategy, TCS Crystallus™ on Salesforce, Cloud Strategy and Transformation, Network testing and automation, Intelligent automotive, Insights-driven marketing  , TCS and Microsoft Cloud' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Wipro Limited
Infosys Limited

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.wipro.com/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cloud, Digital Experiences, Consulting, Business Process, Applications' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Retail, Application Simplification, Adobe, Consumer Packaged Good, Life Sciences, Energy, Zuora, Digitalization and Automation, Integration, Telecom, Wipro Digital Experience Platform, Healthcare, Supply Chain Management
  , Banking, Pega, Digital Experience, Next–Gen Application Management Services, Utilities, Cloud Business Applications, Finance & Accounting
  ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.credera.com/en-gb' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cloud & engineering, Experience design, Innovation, Management consulting, Data, MarTech, Artificial intelligence, Ecommerce' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Ecommerce optimization, Platform engineering, Innovation strategy, User experience strategy, Ecommerce strategy, Strategic alignment, Data democratization, Data strategy, AI everywhere, Data analytics, Data products, Operational excellence, AI models, Cloud data & AI, MarTech optimization, Ecommerce enablement, Cloud advisory, Data architecture, Product & service ideation, AI strategy, Front-end engineering, Cloud native development, Product management, Product & service incubation, Digital design, MarTech enablement, MarTech strategy, Business transformation, AI products, Cloud migration & app modernization' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Credera
Infinite Lambda

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://infinitelambda.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Digital & Cloud Transformation, Data & Analytics' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Mesh AI
Sparta Global

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.spartaglobal.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Project Management, Manual Test, Cybersecurity, Software Development, Devops, Data, Business Analysis, Test Engineering' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://ten10.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cloud & DevOps, RPA, Automation, Software Testing Services, Quality Engineering, Business Analysis' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Digital transformation roadmap, Device and Browser Compatibility Testing, Functional and Non-Functional Testing, Performance Test and Engineering, Data Testing, Quality and Test Advisory, Data Testing Solutions, Enterprise Agile delivery roadmap, Web Accessibility Testing, Cloud & DevOps Health Checks, Test Automation Health Check, FinOps review, Platform Team as a Service (PTaaS), Web Accessibility Testing Services, RPA Solutions, Cloud & DevOps Health Check, Quality and Test Leadership, Functional Test and Quality Engineering, Cloud Migration, Rapid Response, Device and Browser Compatability Testing, Complex product migration, Team in a Box, RPA Health Check, Pipeline review, Quality and Test Managed Services, Performance and Load Testing, Test Automation, Cloud & DevOps Solutions, Cloud governance review' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Ten10
Fjord Consulting Group

C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://fjordconsultinggroup.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Strategy & Operations, Digital and Tech Transformation, Due Diligence' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Cost Optimization, Digital Capabilities and Use Case Analysis, Digital Strategy and Advisory, Operating Model Support, Technology Evaluation and Vendor Selection Support, Tech and IT Strategy, Procurement Support, Financial Due Diligence, Customer Intelligence and Analytics, Product and Solution Strategy, Digital Experience, Corporate Growth Strategy, Business Capability and Process Improvement, Commercial Due Diligence' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.bettergov.co.uk/' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Technology Consulting, Digital Services, Information Security, System Implementation, Capability Development, Modernisation, Data & Analytics' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Change & Transformation Management, Leadership Development, Housing, Commercial & Procurement, HR & Finance, Optimise & Automate, Cloud Computing Migration, Digital Roadmapping, Modernising Legacy Systems, DevOps & Agile, Data Platforms, Build & Deliver, IT Governance, Building Communities of Practice, Penetration Testing, Social Care, Proof of Concept, Data Architecture, Data Engineering, Security Design & Architecture, Capability Development, Automation & AI, Discover & Define, Cloud Security Assessment & Audits, Secure Engineering & DevSecOps, Strategic Upskilling & Reskilling, Data Analytics and Visualisation, Education' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

BetterGov
Cambridge Consultants Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://www.capco.com' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Consulting, Technology, Digital' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'TRANSFORMATION SERVICES, DIGITAL INNOVATION, TECHNOLOGY ADVISORY, STRATEGY, CHANGE SERVICES, DIGITAL ENGINEERING, SYSTEMS INTEGRATION, DATA & ANALYTICS, SECURITY SERVICES, RISK, REGULATORY & COMPLIANCE' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Capco Limited
Cognizant Technology Solutions Corporation

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'https://jobs.iqvia.com/en' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Public Health and Government, Digital Health, Rare Diseases, Virtual Research, Brand Strategy and Management, Genomics, Generics Manufacturers, Gastroenterology & Hepatology, Pricing and Market Access, Study Design, Commercial Compliance, Diabetes, Decentralized Trials, Pediatrics, MedTech, Drug Safety and Pharmacovigilance, Payers, Clinical Trials, ​Patient Associations, Biosimilars, Infectious Diseases and Vaccines, Real World & Health Data Sets, Pharmaceutical Manufacturers, Health Economics and Value, ​Regulatory and Safety, Evidence Networks, Patient Engagement and Support, Regulatory Compliance, Launch Strategy and Management, Central Nervous System, Emerging Biopharma, Healthcare Professional Engagement, Consulting, Information Partner Services, Promotional Strategy, Oncology, Quality Compliance, IQVIA Healthcare-grade AI™, Consumer Health, Functional Services' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Temp\ipykernel_285716\3474794811.py:62: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Therapeutic expertise solutions, Commercialization solutions, New models and methods solutions, Real world evidence solutions, Industry segments solutions, Research and development solutions, Safety & regulatory compliance solutions' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.at[company_index, key] = value[0]
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

IQVIA Holdings Inc
Kubrick Group Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [41]:
pd.read_excel(file_path, sheet_name=company_name)

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Practices_URL,Services,Services_URL,Solutions,Solutions_URL,...,Potential Threats,Long-term Strategy,Recent Activities,Market Responsiveness,Key Executives,Company Culture,Compliance Requirements,Legal Issues/Pending Litigations,Environmental Impact,Social Initiatives
0,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,https://www.tcs.com/what-we-do/services/networ...,No Services Data Available,No Services URL Data Available,5G enterprise services,https://www.youtube-nocookie.com/embed/vmbAXyu...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
1,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,https://www.tcs.com/what-we-do/services/networ...,No Services Data Available,No Services URL Data Available,Cognitive network operations,https://www.tcs.com/what-we-do/services/networ...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
2,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,https://www.tcs.com/what-we-do/services/networ...,No Services Data Available,No Services URL Data Available,Industrialized SD-WAN,https://www.tcs.com/what-we-do/services/networ...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
3,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,https://www.tcs.com/what-we-do/services/networ...,No Services Data Available,No Services URL Data Available,Network planning and engineering,https://www.tcs.com/what-we-do/services/networ...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
4,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,https://www.tcs.com/what-we-do/services/networ...,No Services Data Available,No Services URL Data Available,Network testing and automation,https://www.tcs.com/what-we-do/services/networ...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS Interactive,https://www.tcs.com/what-we-do/services/tcs-in...,No Services Data Available,No Services URL Data Available,AI-enabled measurement,https://www.tcs.com/what-we-do/services/tcs-in...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
59,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS Interactive,https://www.tcs.com/what-we-do/services/tcs-in...,No Services Data Available,No Services URL Data Available,Digital experience,https://www.tcs.com/what-we-do/services/tcs-in...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
60,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS Interactive,https://www.tcs.com/what-we-do/services/tcs-in...,No Services Data Available,No Services URL Data Available,Experience-first commerce,https://www.tcs.com/what-we-do/services/tcs-in...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
61,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS Interactive,https://www.tcs.com/what-we-do/services/tcs-in...,No Services Data Available,No Services URL Data Available,Iconic designs,https://www.tcs.com/what-we-do/services/tcs-in...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available
62,2024-05-30,Tata Consultancy Services Limited,https://www.tcs.com,Public,TCS Interactive,https://www.tcs.com/what-we-do/services/tcs-in...,No Services Data Available,No Services URL Data Available,Insights-driven marketing,https://www.tcs.com/what-we-do/services/tcs-in...,...,No Potential Threats Data Available,No Long-term Strategy Data Available,No Recent Activities Data Available,No Market Responsiveness Data Available,No Key Executives Data Available,No Company Culture Data Available,No Compliance Requirements Data Available,No Legal Issues/Pending Litigations Data Avail...,No Environmental Impact Data Available,No Social Initiatives Data Available

In [23]:
df = pd.read_csv(r'C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\kubrick_mi_company_intel.csv')
df.set_index('Company Name', inplace=True)
df.loc['Credera']['Practice Ecosystems (Data, AI etc)']

"['Cloud & engineering', 'Experience design', 'Innovation', 'Management consulting', 'Data', 'MarTech', 'Artificial intelligence', 'Ecommerce']"

In [24]:
df.loc['Credera']['Practice List (delimited)']

"['Ecommerce optimization', 'Platform engineering', 'Innovation strategy', 'User experience strategy', 'Ecommerce strategy', 'Strategic alignment', 'Data democratization', 'Data strategy', 'AI everywhere', 'Data analytics', 'Data products', 'Operational excellence', 'AI models', 'Cloud data & AI', 'MarTech optimization', 'Ecommerce enablement', 'Cloud advisory', 'Data architecture', 'Product & service ideation', 'AI strategy', 'Front-end engineering', 'Cloud native development', 'Product management', 'Product & service incubation', 'Digital design', 'MarTech enablement', 'MarTech strategy', 'Business transformation', 'AI products', 'Cloud migration & app modernization']"

In [3]:
def import_and_merge_data(company_name: str, excel_file: str = "Kubrick MI Data.xlsx", intel_file: str = "kubrick_mi_company_intel2.xlsx") -> pd.DataFrame:
    import os
    from SupportFunctions import log_error
    xl_columns_to_retain = ["Date of Collection", "Company Name", "Website_URL", "Public/Private", "Practices", "Services", "Solutions"]
    final_columns = ['Date Collected', 'Company Name', 'URL', 'Public/Private', 'Practices', 'Services', 'Solutions', 
                     'Training Program Duration', 'Tech Partnerships', 'Anecdotal Views of Quality', 'Consultant Pricing']
    intel_columns = ["Training Program Duration", "Tech Partnerships", "Anecdotal Views of Quality", "Consultant Pricing"]

    if not os.path.exists(excel_file):
        log_error(f"File {excel_file} does not exists")
        return None

    # Check if the sheet exists in the Excel file
    excel_sheets = pd.ExcelFile(excel_file).sheet_names
    if company_name not in excel_sheets:
        log_error(f"{company_name} does not have webscrape data. Make sure to run the webscrape function.")
        return None

    excel_df = pd.read_excel(excel_file, sheet_name=company_name)
    excel_df = excel_df[xl_columns_to_retain]
    #display(excel_df)

    # Check if the Excel file for company intel exists
    if not os.path.exists(intel_file):
        # Create an empty DataFrame with the final columns and save it to create the file
        with pd.ExcelWriter(intel_file) as writer:
            empty_df = pd.DataFrame(columns=final_columns)
            empty_df.to_excel(writer, index=False)

    intel_sheets = pd.ExcelFile(intel_file).sheet_names

    if company_name not in intel_sheets:
        for col in intel_columns:
            excel_df[col] = "To be completed manually"
        
        with pd.ExcelWriter(intel_file, mode='a', engine='openpyxl') as writer:
            excel_df.to_excel(writer, index=False, sheet_name=company_name)

    else:
        company_df = pd.read_excel(intel_file, sheet_name=company_name)
        intel_values = company_df.iloc[0][intel_columns].values
        for i, col in enumerate(intel_columns):
            excel_df[col] = intel_values[i]
        with pd.ExcelWriter(intel_file, mode='a', engine='openpyxl') as writer:
            writer.book.remove(writer.book[company_name])
            excel_df.to_excel(writer, index=False, sheet_name=company_name)

    return True

In [6]:
company_dict['company_name'].sort()
for company_name in company_dict['company_name']:
    print(company_name)
    import_and_merge_data(company_name)

AND Digital

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

BetterGov

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Cambridge Consultants Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Capco Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Capgemini SE

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Cognizant Technology Solutions Corporation

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Credera

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Dufrain

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

FDM Group (Holdings) Ltd

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Fjord Consulting Group

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

IQVIA Holdings Inc

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Infinite Lambda

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Infosys Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Kubrick Group Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Mesh AI

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Slalom

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Sparta Global

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Tata Consultancy Services Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Ten10

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

Wipro Limited

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [28]:
company_df_full = pd.read_excel(io=r"C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\kubrick_mi_company_intel2.xlsx", sheet_name='Sheet1')
columns = ['Date of Collection', 'Company Name', 'Website_URL', 'Training Program Duration', 'Anecdotal Views of Quality', 'Consultant Pricing']

for company_name in company_dict['company_name']:
    company_df = pd.read_excel(io=r"C:\Users\Jack\Documents\VS Code\market-intelligence-kubrick\kubrick_mi_company_intel2.xlsx", sheet_name=company_name).head(1)
    display(company_df)
    company_df_full = pd.concat([company_df_full, company_df])

company_df_final = company_df_full.reset_index()

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,AND Digital,https://www.and.digital/,Private,AI & Tools,AI governance & security,"Establish the policies, standards, and practic...",13 days/year for innovation and upskilling wit...,Cloud: AWS; MS; GCP. SaaS Partners: commerceto...,Glassdoor: 3.4/5,No data found

C:\Users\Jack\AppData\Local\Temp\ipykernel_304852\3657027416.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  company_df_full = pd.concat([company_df_full, company_df])

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,BetterGov,https://www.bettergov.co.uk/,Private,No Practices Data Available,Capability Development,Building Communities of Practice,No Training information found,Cabinet Office; NHS; Lancashire County Council...,Public Sector specialist; Glassdoor 5/5 (1 vote),https://www.applytosupply.digitalmarketplace.s...

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Cambridge Consultants Limited,https://www.cambridgeconsultants.com/,Private,No Practices Data Available,5G and wireless connectivity,AI and analytics,No Training information found,CC is part of Capegemini Invent so may have sa...,4.2/5 (Glassdoor),No data found

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Capco Limited,https://www.capco.com,Private,Consulting,CHANGE SERVICES,Business Agility,"2-week programme - ""Capco’s induction course i...",APTUS.AI; AUSTRIAN BLOCKCHAIN CENTER; ACTIVEVI...,Glassdoor 3.7/5 (3.4 Reviews); Indeed 3.1/5 (5...,No data found

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Capgemini SE,https://www.capgemini.com/,Public,Cloud,Cloud for customer first,"Give your employees access to any app, on any ...",2 year graduate programme with training,"MySQL', 'Hewlett Packard Enterprise', 'Salesfo...",3.8 on Glassdoor (66493 total reviews)',£312 a unit a day

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Cognizant Technology Solutions Corporation,https://www.cognizant.com,Public,No Practices Data Available,Application Services,Application management,12-14 weeks,"adobe,aws,cast,cisco,cloudera,cyberark,dell te...",3.8/5 (Glassdoor)Top Score in Human Rights Cam...,400-2100 per unit per day

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Credera,https://www.credera.com/en-gb,Private,Artificial intelligence,AI everywhere,AI customer support,10 weeks: Credera brings together students fro...,Acquia; Adobe; AWS; Google Cloud; Pega; Salesf...,Glassdoor 3.7/5 (621 Reviews); Indeed 3.9 (10 ...,"£510.00 to £2,195.00 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Dufrain,https://www.dufrain.co.uk/,Private,Business Intelligence & Data Analytics Service,No Services Data Available,Analytics Maturity Assessment,No Training information found,"Microsoft, Tableau, Scottish Financial Enterpr...",Glassdoor 3/5; Highly Commended for ‘Consultan...,No data found

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,FDM Group (Holdings) Ltd,https://www.fdmgroup.com/,Public,Change & Transformation,Agile Delivery,No Solutions Data Available,7-12 weeks training,Murex,3.2 on Glassdoor (3350 total reviews),£290 to £600 a unit a day

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Fjord Consulting Group,https://fjordconsultinggroup.com,Private,Digital and Tech Transformation,Digital Capabilities and Use Case Analysis,No Solutions Data Available,No Training information found,No information found,No data found,No data found

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,IQVIA Holdings Inc,https://jobs.iqvia.com/en,Public,No Practices Data Available,Biosimilars,Therapeutic expertise solutions,No Training information found,"aprimo,AsynchAPI,Avenga,Box,Customertimes,Docu...",3.9/5 (Glassdoor);“Best AI-based Solution for ...,"1,200 to 1,500 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Infinite Lambda,https://infinitelambda.com,Private,Data & Analytics,No Services Data Available,No Solutions Data Available,"3 months: ""3 months of intensive training in t...",Snowflake; dbt Labs; VaultSpeed; AWS,Glassdoor 4.2/50 (13 Reviews); 2022 dbt Labs P...,"£350 to £1,400 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Infosys Limited,https://www.infosys.com/,Public,No Practices Data Available,API Economy & Microservices,"API Speed Layer for agility in digital data, p...",3-6 months,"Ab Initio, Acquia, Actifio, Adexao, Adobe, Aer...",3.7/5 (Glassdoor); Infosys awarded the Global ...,"369 to 1,167 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:45.442,Kubrick Group Limited,https://www.kubrickgroup.com,Private,Advanced Analytics,No Services Data Available,Advanced Data Visualisation,15 weeks,"aws,tableau,collibra,alteryx, dataiku, neo4j, ...",3.4/5 (Glassdoor); Kubrick Named in the Fast G...,350 a unit per day

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Mesh AI,https://www.mesh-ai.com/,Private,Artificial Intelligence,Build complete data foundations for further AI...,No Solutions Data Available,Annual training allowance is £2k + 5 training ...,"AWS, Azure, Google Cloud.",Glassdoor: 4/5; Sunday Times Best Places to Wo...,No data found

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Slalom,https://www.slalom.com/,Private,Artificial Intelligence,Generative AI,"With generative AI, we’re using artificial int...",No Training information found,"Salesforce', 'Amazon Web Services', 'Google', ...",3.9 on Glassdoor (2881 total reviews),"£636 to £1,938 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Sparta Global,https://www.spartaglobal.com,Private,Business Analysis,No Services Data Available,No Solutions Data Available,"8-10 weeks: ""The first 8-10 weeks of your empl...",ServiceNow Placement Partner Program; SAP; SFI...,Glassdoor 3.7/5 (489 Reviews); Indeed 3.2/5 (3...,"£250 to £1,100 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Tata Consultancy Services Limited,https://www.tcs.com,Public,Network Solutions and Service,No Services Data Available,5G enterprise services,No Training information found,"MySQL', 'Hewlett Packard Enterprise', 'Salesfo...",3.7 on Glassdoor (136742 total reviews),£127 a unit a day

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Ten10,https://ten10.com,Private,Automation,Cloud & DevOps Health Checks,No Solutions Data Available,"6-week + Unspecified role based training: ""Aft...",No information found,"Glassdoor 4.1/5 (152 Reviews), Indeed 3.6/5 (9...","£285 to £1,155 a unit a day"

,Date of Collection,Company Name,Website_URL,Public/Private,Practices,Services,Solutions,Training Program Duration,Tech Partnerships,Anecdotal Views of Quality,Consultant Pricing
0,1970-01-01 01:00:25.569,Wipro Limited,https://www.wipro.com/,Public,Applications,Next–Gen Application Management Services,4M Delivery Framework,"15 monthsleadership training, including 3 mont...","MySQL', 'Hewlett Packard Enterprise', 'Salesfo...",No data found,"£120 to £1,300 a unit a day"

In [31]:
for column in columns:
    print(company_df_final[column].iloc[16])

1970-01-01 01:00:25.569000
Sparta Global
https://www.spartaglobal.com
8-10 weeks: "The first 8-10 weeks of your employment will be 8-10 weeks of training in your chosen specialism."
Glassdoor 3.7/5 (489 Reviews); Indeed 3.2/5 (30 Reviews); King's Award for Enterprise; Certified B Corporation; TOP 75 Employer Index 2022; Youth Verified; BEST EMPLOYER FOR TRAINING; BEST TECH EMPLOYER (OVER 500 EMPLOYEES)
£250 to £1,100 a unit a day

In [85]:
from selenium import webdriver
import time

url = "https://www.reuters.com/search/news?blob=soybean&sortBy=date&dateRange=all"
driver = webdriver.PhantomJS()
driver.get(url)
html = driver.page_source.encode('utf-8')
page_num = 0

while driver.find_elements_by_css_selector('.search-result-more-txt'):
    driver.find_element_by_css_selector('.search-result-more-txt').click()
    page_num += 1
    print("getting page number "+str(page_num))
    time.sleep(1)

['AND Digital',
 'BetterGov',
 'Cambridge Consultants Limited',
 'Capco Limited',
 'Capgemini SE',
 'Cognizant Technology Solutions Corporation',
 'Credera',
 'Dufrain',
 'FDM Group (Holdings) Ltd',
 'Fjord Consulting Group',
 'IQVIA Holdings Inc',
 'Infinite Lambda',
 'Infosys Limited',
 'Kubrick Group Limited',
 'Mesh AI',
 'Slalom',
 'Sparta Global',
 'Tata Consultancy Services Limited',
 'Ten10',
 'Wipro Limited']

In [44]:
from tkinter import *
from threading import Thread
running = True  # Global flag

def scanning():
    if running:  # Only do this if the Stop button has not been clicked
        print("hello")

    # After 1 second, call scanning again (create a recursive loop)
    root.after(1000, scanning)

def start():
    """Enable scanning by setting the global flag to True."""
    global running
    running = True

def stop():
    """Stop scanning by setting the global flag to False."""
    global running
    running = False

def close_window():
    root.destroy()

root = Tk()
root.title("Title")
root.geometry("500x500")

app = Frame(root)
app.grid()

start = Button(app, text="Start Scan", command=start)
button = Button(root, text="Force Stop", command=close_window)

start.grid()
button.grid()

root.after(1000, scanning)  # After 1 second, call scanning
root.mainloop()

hello
hello
hello
hello
hello

In [55]:
!pip install idna

Requirement already satisfied: idna in c:\users\jack\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.6)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: C:\Users\Jack\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip