In [4]:
import pandas as pd
import SupportFunctions
company_dict = {'company_name':['Capgemini SE', 'AND Digital', 'Dufrain', 'FDM Group (Holdings) Ltd', 'Slalom', 'Tata Consultancy Services Limited', 'Wipro Limited'],
        'company_url':['https://www.capgemini.com/','https://www.and.digital/','https://www.dufrain.co.uk/','https://www.fdmgroup.com/','https://www.slalom.com/','https://www.tcs.com','https://www.wipro.com/'],
        'status':['Public','Private','Private','Public','Private','Public','Public'],
        'ticker':['CAP.PA', '', '', 'FDM.L', '','TCS.BO','WIT'],
        'scraper':['scraper_capgemini','scraper_digital','scraper_dufrain','scraper_fdmgroup','scraper_slalom','scraper_tcs','scraper_wipro']}

company_df = pd.DataFrame(company_dict)
data_file_path = 'Kubrick MI Data.xlsx'

In [9]:
for company_name in ['Wipro Limited']:
    company_url, scraper, status, ticker = SupportFunctions.get_company_metadata(company_name, company_df)

    scraped_data = SupportFunctions.get_scraped_company_data(scraper)
    yahoo_json = SupportFunctions.get_company_details2(status, ticker)
    final_df = SupportFunctions.create_final_df2(company_name, company_url, status, yahoo_json, scraped_data)

    old_df = SupportFunctions.read_from_excel(data_file_path, company_name)

    SupportFunctions.log_new_and_modified_rows(final_df, old_df, company_name)
    SupportFunctions.write_to_excel(final_df, data_file_path, company_name)

    price_report_data=SupportFunctions.get_company_info_pricereport(company_name, ticker)
    SupportFunctions.update_excel(price_report_data)

C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")
C:\Users\Jack\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [11]:
#final_df.compare(old_df_sorted)
final_df.compare(old_df)

                       Solutions_URL  \
                                self
0                                NaN
1                                NaN
2    No Solutions URL Data Available
3                                NaN
4                                NaN
..                               ...
181                              NaN
182                              NaN
183                              NaN
184                              NaN
185                              NaN

                                                         Market Cap  \
                                                 other         self
0                                                  NaN  29246093312
1                                                  NaN  29246093312
2    https://wiprodigital.com/2020/04/28/harness-th...  29246093312
3                                                  NaN  29246093312
4                                                  NaN  29246093312
..                                                 ...          ...
181                                                NaN  29246093312
182                                                NaN  29246093312
183                                                NaN  29246093312
184                                                NaN  29246093312
185                                                NaN  29246093312


           other
0    29233264640
1    29233264640
2    29233264640
3    29233264640
4    29233264640
..           ...
181  29233264640
182  29233264640
183  29233264640
184  29233264640
185  29233264640

[186 rows x 4 columns]